.log-out:hover,
.log-out:active,
.log-out:focus {
  color: red !important;
}

.ant-menu-item-selected.log-out {
  background: none !important;
}

.logo-img {
  max-width: 100px;
}

.logo-item.ant-menu-item-active::after,
.logo-item.ant-menu-item-selected::after {
  display: none;
}