@import './var';

*,
*::before,
*::after {
  font-family: 'Roboto', sans-serif;
}

[class^='ant-layout'] {
  background: none !important;
}

.anticon {
  vertical-align: middle !important;
}

.ant-menu-submenu-title {
  display: flex !important;
  align-items: center !important;
  width: 100% !important;
}

.locale-selected {
  color: #1890ff;
}

table,
[class^='ant-input'],
[class^='ant-select'] {
  font-size: 18px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

//.table-wrapper table th,
//.table-wrapper table td {
//  max-width: 100%;
//  white-space: nowrap;
//}

@media (max-width: 768px) {
  table th,
  table td {
    max-width: 100%;
    white-space: nowrap;
  }
}

.ant-table-content {
  overflow-x: auto;
}

.sticky-top {
  z-index: 999;
}

.unselectable {
  user-select: none;
}